<!-- templates/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hack Day</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Tech Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hackathons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_tech_event' %}">New Tech Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_hack_event' %}">New Hack Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        </ul>
    </div>
    </nav>

    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Welcome, {{user.username}}</h5>
            <p class="card-text">Here you can explore super cool events and hackathons.</p>
        </div>
    </div>

    {% for event in events %}
        <div class="card m-3">
            <div class="card-header">
                {% if event.type == 1 %}
                    Technial Event
                {% else %}
                    Hackathon
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text">{{ event.user.username }}</p>
                <a href="{% url 'attend-event' event.id %}" class="btn btn-primary">Attend</a>
            </div>
        </div>
    {% endfor %}
  </main>
</body>
</html>